<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.minig.obm.pool.jdbcconnectionfactory">
      <connection_factory
            implementation="org.minig.jdbc.pgsql.provider.PgSQLConnectionFactory">
      </connection_factory>
   </extension>

</plugin>
