<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.obm.push.backend" name="backend" schema="schema/org.obm.push.backend.exsd"/>
   <extension-point id="org.obm.push.storage" name="storage" schema="schema/org.obm.push.storage.exsd"/>
   <extension-point id="org.obm.push.search" name="search" schema="schema/org.minig.push.search.exsd"/>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/Microsoft-Server-ActiveSync"
            class="org.obm.push.ActiveSyncServlet"
            load-on-startup="true">
      </servlet>
   </extension>
   <extension
         id="push"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.obm.push.Application">
         </run>
      </application>
   </extension>
   <extension
         id="pushid"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.obm.push.push"
            name="push">
         <property
               name="appName"
               value="push">
         </property>
      </product>
   </extension>

</plugin>
