<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.obm.push.backend">
      <backend
            implementation="org.obm.push.backend.obm22.BackendFactory">
      </backend>
   </extension>
   <extension
         point="org.obm.push.search">
      <search
            implementation="org.obm.push.backend.obm22.search.ObmSearchContact">
      </search>
   </extension>

</plugin>
